body {
    background-color: lightsilver;
    opacity: 0,3;
  }
  
  h1 {
    color: rgb(208, 108, 37);
    opacity: 0,2;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    /*margin-right: 150px;
    margin-left: 80px;*/
    text-align: center;
  } 
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  .parent { 
      display:flex; 
      justify-content:center; 
      align-items:center; 
  }  
  
  footer{
  text-align: center;
 }
  